.cell {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: 2px solid #333;
  background: #050505;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.cell.active {
  border-color: white;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
}

/* circles text */
.circle {
  color: white;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
